

:root {
    --main-color: #A9D2FE;

}

header {
   display: flex;
    background-color: var(--main-color);
    border: 1px solid black;
    border-radius: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

h1 {
    color: red;
    display: inline-block;
    width: 350px;
    margin-left: 30px;
   
}

#navbar {
    float: right;
    width: 340px;
    display: flex;
    justify-content: space-around;     
}
#navbar li {
    width: 100px;
    list-style-type: none;
}

#bio-container {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    background-color: var(--main-color);
    margin: 0 5px;
}

.bio {
    display: inline-block;
    width: 55%;
    text-align: left;
    flex: 2 0 280px;
    margin: 0 10px;
}

#avatar {
    margin: 0 20px;
    width: 35%;
    flex: 1 0 300px;
    border-left: 4px dotted black;
}

.bodyflex {
    display: flex;
    justify-content: space-around;
}

.goals {
    width: 30%;
}

.goal-icon {
    width: 10%;
}
