

:root {
    --main-color: #A9D2FE;
    --border-color: rgb(57, 12, 12);
    --text-white: #e0f9ff;
}

* {
    font-family: Montserrat, sans-serif ;
    
}

body { 
    
    background-image: url(../Pictures/matt-palmer-WHJ1VaQpPsg-unsplash.jpg);
}

h1, h2, h3, h4 {
    font-family: Heebo, Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

.anchor:hover {
    color: orange;
}

header {
   display: flex;
    background-color: var(--main-color);
    border: 1px solid black;
    /* border-radius: 15px; */
    justify-content: flex-end;
    align-items: center;
    /* margin-bottom: 25px; */
    background: linear-gradient(0.25turn, var(--main-color), 80%, rgb(94, 94, 249));
}


h1 {
    color: rgb(54, 8, 8);
    display: block;
    width: 550px;
    margin: 0 0 0 50px;
    padding: 40px;
    z-index: 2;
    font-size: 3rem;
    /* text-shadow: 4px 4px 4px 4px pink; */
    text-shadow: rgb(199, 243, 191) 2px 1px 10px;
}

h2 {
    color: rgb(54, 8, 8);
    font-size: 2.5rem;
    text-shadow: 2px 2px rgb(170, 154, 175);
}

h4 {
    font-size: 1.6rem;
    letter-spacing: 1.4;
}


#navbar {
    float: right;
    width: 400px;
    display: flex;
    justify-content:space-evenly; 
       
}
#navbar li {
    list-style-type: none;
    
    }

.navlinks a {
    color: var(--text-white);
    font-size: 1.4rem;
    text-decoration: none;
}

.sub-Header {
    display: block;
    height: 120px;
    width: 100%;
    position: relative;
    background-image: url(../Pictures/replacement-pictures/ashim-d-silva-WeYamle9fDM-unsplash.jpg);
    background-size: 100% 300px;
    background-position: bottom 100px;   

}

.sub-Header::before {
    /* The following code take from https://stackoverflow.com/questions/8195215/css-background-image-on-background-color */
    background-color: rgba(101, 91, 102, 0.2);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.sub-Header img {
    height: 120px;
    width: 100%;
    position: absolute;
    opacity: 0.5;
}

#bio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    background-color: rgba(255,255,255,0.3);
    margin: 0 5px;
} 

.aboutMe{
    display: flex;
    width: 25%;
    justify-content: flex-end;
    padding-right: 30px;
    box-sizing: border-box;
    border-right: 4px solid var(--border-color);
}

.bio {
    display: inline-block;
    width: 45%;
    text-align: left;
    flex: 2 0 280px;
    margin: 0 25px;
}

#avatar {
    display: flex;
    box-sizing: border-box;
    margin: 0 20px;
    width: 35%;
    flex: 0 0 400px;
    
    padding: 30px;
}

#break {
    display: block;
    height: 40px;
    background-color: rgb(46, 115, 128);
    width: 100%;
}

#break h2 {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    color: var(--text-white);
    text-shadow: 3px 3px black;
    line-height: 40px;
}

.bodyflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.goals {  
    display: inline-block;
    /* border-right: 5px solid var(--border-color); */
    text-align: center;
    max-width: 500px;
    min-width: 280px;
    width: 25%;
    margin: 5px 0;
    background-color: none;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.goals div {
    width: 80%;
    margin: 40px auto;
}

.goal-icon {
    display: block;
    width: 30%;
    margin: 0 auto;
}

.goals ul {
    text-align: left;
}

.goals li {
    padding: 0 10px;
}

.goals h2 {
    text-decoration: underline;
}
.flexContainer {
    display: inline-block;
    width: 74%;

}
.projflex {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    padding: 0 30px;
    justify-content: space-around;
    align-content: flex-start;
    
}

.Proj-Card {
    /* box-sizing: border-box; */
    /* height: 200px; */
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
    border-left: 5px solid var(--border-color);
    border-top: 5px solid var(--border-color);
    position: relative;
    background-color: rgba(255,255,255,0.3);
     /* z-index: 1; */
    max-height: 390px;
    
    
}

.Proj-Card:hover img {
   opacity: 0.75;
   transition: 350ms, 350ms;
}

.MainProj {
    flex: 3 2 800px;
    font-size: 1.3rem;
    min-width: 200px;
    overflow: clip;
    
    
}

.heading-box {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 1px solid black;
    padding: 0;
    background-image: url(../Pictures/mitchell-luo-i1O_Hr6cbWc-unsplash.jpg);
    background-size:300%;
    overflow: auto;
    z-index: 2;
    opacity: 0.8;
        
}
h3 {
   padding: 7px 20px;
    margin: 0;
    opacity: 0.9;
    color: rgb(255, 255, 255);
    
}

.heading-box p {
    color: white;
}

.OtherProj {
    padding: 0;
    flex: 1 1 400px;
    font-size: 1.1rem;
    

}

#Proj1 img {
    display: block;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    }

#Proj2 img {
    display: block;
   height: 100%;
   width: 50%;
    margin: 0 auto;
}

#Proj3 img{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    }


#Proj4 img{
    /* background-image: url(../Pictures/david-pisnoy-S_ao-YqXl2w-unsplash.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0765A2; */
    display: block;
   width: 100%;
   height: 100%;
    /* max-width: 200px; */
    margin: 0 auto;
}

#Proj5 img{
    /* background-image: url(../Pictures/anne-nygard-FTc0e1zLwzU-unsplash.jpg);
    background-size: auto 150%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -50px;
    background-color: #D1D1D1; */
    display: block;
    width: 100%;
    height: 100%;
     /* max-width: 200px; */
    margin: 0 auto;
}


 

footer {
    background-color: #766d91;
    opacity: 0.75;

}

h4 {
    text-align: center;
    padding-top: 10px;
    color: var(--text-white);
}

footer img {
    width: 30px;
    height: 30px;
    opacity: 1;
}

#ContactDetails {
    text-align: center;
    padding-bottom: 20px;
}

#ContactDetails a {
    color: var(--text-white);
    font-weight: 700;
}

#ContactDetails a:hover {
    color: orange;
}


address li {
    display: inline-block;
    margin: 0 20px;
}