

:root {
    --main-color: #A9D2FE;
    --border-color: rgb(57, 12, 12);
    --text-white: #e0f9ff;
}

* {
    font-family: Montserrat, sans-serif ;
    
}

body { 
    background-color: white;
}

h1, h2, h3, h4 {
    font-family: Heebo, Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

.anchor:hover {
    color: orange;
}

header {
   display: flex;
    background-color: var(--main-color);
    border: 1px solid black;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    background: linear-gradient(0.25turn, var(--main-color), 80%, rgb(94, 94, 249));
}

h1 {
    color: red;
    display: inline-block;
    width: 350px;
    margin-left: 30px;

}

#navbar {
    float: right;
    width: 400px;
    display: flex;
    justify-content:space-evenly; 
       
}
#navbar li {
    list-style-type: none;
    
    }

.navlinks a {
    color: var(--text-white);
    font-size: 1.4rem;
    text-decoration: none;
}


#bio-container {
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    background-color: var(--main-color);
    margin: 0 5px;
}

.bio {
    display: inline-block;
    width: 55%;
    text-align: left;
    flex: 2 0 280px;
    margin: 0 10px;
}

#avatar {
    margin: 0 20px;
    width: 35%;
    flex: 1 0 300px;
    border-left: 4px dotted black;
}

.bodyflex {
    display: flex;
    justify-content: space-around;
}

.goals {
    flex: 1 1 400px;
    border-right: 5px solid var(--border-color);
    text-align: center;
    max-width: 500px;
    margin: 5px 0;
    background-color: white;
}

.goals div {
    width: 80%;
    margin: 40px auto;
}

.goal-icon {
    display: block;
    width: 20%;
    margin: 0 auto;
}

.projflex {
    display: flex;
    flex-wrap: wrap;
    flex: 2 2 1000px;
    padding: 0 30px;
    justify-content: space-around;
}

.Proj-Card {
    /* box-sizing: border-box; */
    /* height: 200px; */
    padding: 12px;
    margin: 5px;
    border: 5px solid var(--border-color);
    position: relative;
    background-color: white;
    z-index: 1;
    max-height: 390px;
    
}

.Proj-Card:hover img {
   opacity: 0.75;
   transition: 350ms, 350ms;
}

.MainProj {
    flex: 3 1 800px;
    font-size: 1.3rem;
    
}

.heading-box {
    position: absolute;
    bottom: 40px;
    left: 0px;
    border: 1px solid black;
    padding: 0;
    background-image: url(../Pictures/mitchell-luo-i1O_Hr6cbWc-unsplash.jpg);
    background-size:300%;
    overflow: auto;
    z-index: 2;
        
}
h3 {
   padding: 7px 20px;
    margin: 0;
    opacity: 0.9;
    color: rgb(255, 255, 255);
    
}

.heading-box p {
    color: white;
}

.OtherProj {
    padding: 0;
    flex: 1 1 450px;
    font-size: 1.1rem;
}

#Proj1 img {
    display: block;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    }

#Proj2 img {
    display: block;
   width: 80%;
    max-width: 200px;
    margin: 0 auto;
}

#Proj3 img{
    display: block;
    width: 100%;
    margin: 0 auto;
    }


#Proj4 img{
    /* background-image: url(../Pictures/david-pisnoy-S_ao-YqXl2w-unsplash.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0765A2; */
    display: block;
    width: 90%;
    /* max-width: 200px; */
    margin: 0 auto;
}

#Proj5 img{
    /* background-image: url(../Pictures/anne-nygard-FTc0e1zLwzU-unsplash.jpg);
    background-size: auto 150%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -50px;
    background-color: #D1D1D1; */
    display: block;
    width: 100%;
     /* max-width: 200px; */
    margin: 0 auto;
}


/* 

footer {
    background-color: #766d91;
}

h4 {
    text-align: center;
    padding-top: 10px;
    color: var(--text-white);
}

footer img {
    width: 30px;
    height: 30px;
}

#ContactDetails {
    text-align: center;
    padding-bottom: 20px;
}

#ContactDetails a {
    color: var(--text-white);

}

#ContactDetails a:hover {
    color: orange;
}


address li {
    display: inline-block;
    margin: 0 20px;
}